<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item">
            <button class="nav-link active" aria-current="page">Active</button></li>
        <li class="nav-item">
            <button class="nav-link" [routerLink]="['/manage-emp']" routerLinkActive="router-link-active">Manage_Employee</button></li>
        <li class="nav-item">
            <button class="nav-link" [routerLink]="['/view-all-emp']">view-all-emp</button></li>
        <li class="nav-item">
            <button class="nav-link">FAQs </button></li>
        <li class="nav-item">
            <button class="nav-link">About </button></li>
      </ul>
    </header>
  </div>
