<div>
    <app-headers></app-headers>
</div>
    
<div class="container">

    <h1 class="text-center mb-4 bg-danger p-2 fw-bolder text-white mt-4 mb-lg-5"> Add Employee</h1>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"></span>
        <input type="text" class="form-control" placeholder="First Name" aria-label="FirstName" [(ngModel)]="employeeOb.firstName"
            aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"></span>
        <input type="text" class="form-control" placeholder="Last Name" aria-label="LastName" [(ngModel)]="employeeOb.lastName"
            aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Recipient's email" aria-label="Recipient's email" [(ngModel)]="employeeOb.email"
            aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2">.com</span>
    </div>

    <div>
        <select class="form-select  mb-3" aria-label="Default select example " [(ngModel)]="employeeOb.departmentId" required>
            <option selected>Department</option>
            <option value="D001">One</option>
            <option value="D002">Two</option>
            <option value="D003">Three</option>
          </select>
    </div>

    <div>
        <select class="form-select  mb-3" aria-label="Default select example " required  [(ngModel)]="employeeOb.roleId">
            <option selected>Role</option>
            <option value="R001">One</option>
            <option value="R002">Two</option>
            <option value="R003">Three</option>
          </select>
    </div>

    <div><button type="button" class="btn btn-success mt-4" (click)="addemployee()">Add Employee</button></div> 
 

</div>